# Old temorary source copies
*.orig
*~
build
classes
target
velocity.log

#for Eclipse
.settings
.classpath
.project
.metadata

# IDE project files
*.iml
*.ipr
*.iws
*.kdevelop
*.kdevelop.pcs
*.kdevelop.filelist
*.kdevses
*.kdev4
*.cbp
*.pro.user
.idea
CMakeLists.txt.user
Doxyfile
classes
target
temp
jbiServiceUnits
